@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-background text-white font-inter;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(45, 44, 51, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #323548;
  border-radius: 9999px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #323548 #2D2C33;
}
