name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry

        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the Docker image
        run: |
          docker build -t ghcr.io/coaas/coaas-frontend .
          docker push ghcr.io/coaas/coaas-frontend:latest